.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  align-items: center;
}

.logo-image {
  height: 40px;
}

.hamburger-menu {
  display: none;
  font-size: 24px; /* Adjust the size of the icon */
  cursor: pointer;
  margin-left: 10px;
  color: #333; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.hamburger-menu:hover {
  color: #555; /* Color when hovered */
}

.hamburger-menu.active {
  color: #000; /* Color when active or clicked */
}

.titles-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.header-title {
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-family: Teachers, sans-serif;
  font-weight: normal;
  text-align: center;
}

.header-title:hover {
  color: grey;
  transform: scale(1.1);
}

.header-title.sos {
  color: red;
}

.header-title.sos:hover {
  color: rgb(247, 134, 134);
}

.sos-image {
  width: 20px;
  padding-right: 8px;
}
@media (max-width: 1024px) {
  /* Media Queries for Tablets devices*/
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .hamburger-menu {
    display: block;
    margin-right: 10px;
  }

  .titles-container {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    width: 100%;
  }

  .titles-container.show {
    display: flex;
  }

  .header-title {
    padding: 10px 0;
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }

  .sos-image {
    width: 18px;
  }
}
/* Mobile styles */
@media (max-width: 768px) {
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .hamburger-menu {
    display: block;
    margin-right: 10px;
  }

  .titles-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 100%;
  }

  .titles-container.show {
    display: flex;
  }

  .header-title {
    padding: 10px 0;
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }

  .sos-image {
    width: 18px;
  }
}

@media (max-width: 480px) {
  .hamburger-menu {
    display: block;
    margin-right: 10px;
  }
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-container {
    padding: 10px;
    flex-direction: column;
  }

  .logo-image {
    height: 30px;
    padding-top: 10px;
  }

  .header-title {
    font-size: 14px;
    padding: 8px 0;
  }

  .sos-image {
    width: 16px;
  }
}
